# ignore any PDFs except t test resources
*.pdf
!/t/resources/*.pdf
!/examples/resources/*.pdf
# ignore WinMerge and ViM backups
*.bak
*~
# ignore ViM editor swap files
*.swp
# ignore development/test versions
*.old
*.new
# ignore leftover POD-to-HTML stuff
pod2htmd.tmp
# ignore .md documentation except for root README
*.md
!/README.md
# local build process
/Build_notes.txt
